@charset "utf-8";

@import url(base.css);
@import url(header.css);
@import url(footer);

section {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;
}

h3,dd,
.sub-heading {
    text-align: center;
    margin: 0 auto;
}

p {
    margin: 1rem auto;
    padding: 1rem;
    text-align: left;
    width: fit-content;
}

.t-y-block {
    text-align: left;
    margin: 0 auto;
}

.t-y-block p {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
    min-width: 650px;
}

th {
    background-color: var(--primary-color);
    color: var(--sub-color);
}

th,td {
    text-align: left;
    border: 1px solid var(--border-color);
    padding: 10px 1rem;
}

.td-protocol {
    display: flex;
    flex-direction: column;
}

.td-protocol span {
    margin-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    border-bottom: 1px solid var(--border-color);
}
